h2 {
  margin: 0;
}

.filter {  
  background: #ffffff;    
  padding: 10px 16px;
  margin: 20px;
  font-size: 16px;
  line-height: 2;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 320px;
  color: #6b6b76;
  text-transform: uppercase;
  outline: none;  
}

.legend {
  margin: 10px;
}